## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [2]:
# write your code here
for i in range (1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [3]:
# write your code here
n = int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

10
55

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
# write your code here

for i in range(1,50):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [5]:
# write your code here
n = int(input())
count=0
for i in range(1,n+1):
  if i%3==0:
    count=count+1
print(count)

121
40

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [11]:
# write your code here
n = int(input())
for i in range(1,11):
  print(f"""{n} X {i} = {n*i}""")

51
51 X 1 = 51
51 X 2 = 102
51 X 3 = 153
51 X 4 = 204
51 X 5 = 255
51 X 6 = 306
51 X 7 = 357
51 X 8 = 408
51 X 9 = 459
51 X 10 = 510

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [15]:
# write your code here
n=int(input())

fact=1

for i in range(1,n+1):
  fact=fact*i

print(fact)

5
120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:
# write your code here

n=int(input())

sum=0
for i in range(1, n+1):
  sum=sum+i

print(sum)

87
3828

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [25]:
# write your code here
n=int(input())

for i in range(1,n+1):
    print(i+5)

5
6
7
8
9
10

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [40]:
# write your code here

n = int(input("Enter N: "))

even_count = 0
odd_count = 0

print(f"Counting even/odd from 1 to {n}:")

for i in range(1, n + 1):
    if i % 2 == 0:
        even_count = even_count + 1
        print(even_count)
    else:
        odd_count = odd_count + 1
        print(odd_count)

print(f"Even numbers: {even_count}")
print(f"Odd numbers: {odd_count}")
print(f"Total: {even_count + odd_count}")

Enter N: 50
Counting even/odd from 1 to 50:
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10
11
11
12
12
13
13
14
14
15
15
16
16
17
17
18
18
19
19
20
20
21
21
22
22
23
23
24
24
25
25
Even numbers: 25
Odd numbers: 25
Total: 50

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [42]:
# write your code here
n = int(input())

for i in range(1,n+1):
  print(i*i)

2
1
4

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [44]:
# write your code here
n = int(input())
sum_even = 0
sum_odd = 0
for i in range(1,n+1):
  if i%2==0:
    sum_even=sum_even+i
  else:
    sum_odd=sum_odd+i
print(f"Sum of even numbers: {sum_even}")
print(f"Sum of odd numbers: {sum_odd}")

50
Sum of even numbers: 650
Sum of odd numbers: 625

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [45]:
# write your code here
n = int(input())
count=0
for i in range(1,n+1):
  if i%3==0 and i%5==0:
    count=count+1
print(count)

10
0

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [46]:
# write your code here
n = int(input())
for i in range(1,n+1):
  if i%4==0:
    continue
  print(i)

12
1
2
3
5
6
7
9
10
11

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [49]:
# write your code here
n = int(input())
largest=1
for i in range(1,n+1):
  if i>largest:
    largest=i
print(largest)

5
5

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [50]:
# write your code here
a = int(input())
b = int(input())
result=1
for i in range(1,b+1):
  result=result*a
print(result)

10
10
10000000000

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [51]:
# write your code here
num = int(input("Enter number to check: "))
if num <= 1:
    print(f"{num} is NOT prime (must be > 1)")
elif num == 2:
    print("2 is PRIME ")
else:
    is_prime = True
    for i in range(2, num):
        print(f"Check {i}: {num} % {i} = {num % i}")
        if num % i == 0:
            is_prime = False
            print(f"{num} divisible by {i} → NOT PRIME")
            break
    if is_prime:
        print(f"{num} is PRIME")
    else:
        print(f"{num} is NOT prime")

Enter number to check: 10
Check 2: 10 % 2 = 0
10 divisible by 2 → NOT PRIME
10 is NOT prime

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [52]:
# write your code here
n = int(input("Enter N: "))

print(f"Prime numbers between 1 and {n}:")
for num in range(2, n + 1):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

Enter N: 10
Prime numbers between 1 and 10:
2 3 5 7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [53]:
# write your code here
n = int(input("Enter N: "))
for i in range(1, n + 1):
    if (i % 7 == 0) and (i % 11 == 0):
        print(f"Found: {i} (divisible by 7 AND 11)")
        break
    else:
        print(f"{i}: 7?{i%7==0} 11?{i%11==0} → No")

Enter N: 10
1: 7?False 11?False → No
2: 7?False 11?False → No
3: 7?False 11?False → No
4: 7?False 11?False → No
5: 7?False 11?False → No
6: 7?False 11?False → No
7: 7?True 11?False → No
8: 7?False 11?False → No
9: 7?False 11?False → No
10: 7?False 11?False → No

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [ ]:
# write your code here

var=int(input())

for i in range(1,var+1):
  for j in range(1,i+1):
    print(j, end="")
  print()

6
112123123412345123456

In [ ]:
count=0
for i in range(2):
  n=10
  while n>4:
    count=count+1
    print("Class over", count)
    n=n-1

Class over 1
Class over 2
Class over 3
Class over 4
Class over 5
Class over 6
Class over 7
Class over 8
Class over 9
Class over 10
Class over 11
Class over 12

In [ ]:
# run for loop inside while loop
n=12
while n>10:
  for i in range(3):
    print("jai hind and i is : ",i )
  n=n-1

jai hind and i is :  0
jai hind and i is :  1
jai hind and i is :  2
jai hind and i is :  0
jai hind and i is :  1
jai hind and i is :  2