# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a = 8
b = 12
print(a+b)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [3]:
# Answer here
a = 7
b = 20
print(b-a)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [4]:
# Answer here
a = 6
b = 9
print(a*b)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [5]:
# Answer here
a = 45
b = 9
print(a/b)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [6]:
# Answer here
print(45/9)
print(45//9)
print(50/6)
print(50//6)

5.0
5
8.333333333333334
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [7]:
# Answer here
a = 29
b = 5
print(a%b)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [8]:
# Answer here
a = 3
b = 4
print(a**b)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [9]:
# Answer here
a=6

print(+a)
print(-a)

6
-6

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
# Answer here
c=5 + 3 * 2
d=(5 + 3) * 2
print(c)
print(d)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [12]:
# Answer here
a = 15
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [13]:
# Answer here
n = 10
n += 5
print(n)
n *= 2
print(n)
n -= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [17]:
# Answer here
x = 3
y = 7
x,y = y,x
print(x)
print(y)

7
3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [18]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
print(a+b)

Enter a number: 10
Enter a number: 20
30

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [19]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a = float(input("Enter a number: "))
b = float(input("Enter a number: "))
c = float(input("Enter a number: "))
print((a+b+c)/3)

Enter a number: 10
Enter a number: 20
Enter a number: 30
20.0

Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [48]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius = float(input("Enter a number: "))
print(f"""Circumfrence = {2 * 3.14159 * radius}""")
print(f"""Area = {3.14159 * radius ** 2}""")

Enter a number: 5.6
Circumfrence = 35.185807999999994
Area = 98.52026239999998

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [24]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
total_seconds = int(input("Enter a number: "))
print(total_seconds//3600,":",(total_seconds%3600)//60,":",total_seconds%60)

Enter a number: 52261
14 : 31 : 1

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [43]:
# Answer here
principal = int(input("Enter principal amount: "))
rate = float(input("Enter rate (annual percent): "))
time = float(input("Enter time (in years): "))
print (f"""Intrest: {principal * rate * time / 100}""")

Enter principal amount: 100000
Enter rate (annual percent): 10
Enter time (in years): 5
Intrest: 50000.0