#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [6]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
s1 = set(data)
print(type(s1))
print(s1)

<class 'set'>
{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [ ]:
# write your code here
output will be {1,2,3} because set only gives the unique values.

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [81]:
# write your code here
s2 = set()
for i in range(1,6):
  s2.add(i)
  print(s2)

{1}
{1, 2}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [ ]:
# write your code here
Because add fucntion only works in list and not in sets or dictionary.

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [14]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
union = A.union(B)
print(union)
intersection = A.intersection(B)
print(intersection)

{2, 4, 6, 8, 12}
{8, 4}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [33]:
# write your code here
a = {5,10,15,20}

if 15 in a:
  print("true")
else:
  print("false")

true

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [43]:
# write your code here
a = {10,20,30,40}
a.discard(30)
print(a)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [40]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
sets = set(nums)
print(len(sets))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [ ]:
# write your code here
Output will be 3 becuase adding 20 will do nothing in sets because 20 is already there and sets only shows the unique values.

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [ ]:
# write your code here
No because set is not mutable

### Q11
Convert {100, 200, 300} into list and print first element.

In [53]:
# write your code here
s = {100,200,300}
l = list(s)
l = sorted(l)
print(l)
print(l[0])

[100, 200, 300]
100

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [55]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
class_A.union(class_B)

{'Aman', 'Karan', 'Neha', 'Riya', 'Simran'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [58]:
# write your code here
text = 'programming'
unique = set(text)
print(unique)

{'n', 'o', 'm', 'g', 'r', 'p', 'a', 'i'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [62]:
# write your code here
sentence = 'python is easy and python is powerful'
sentence = sentence.split()
print(sentence)
unique_words = set(sentence)
print(unique_words)

['python', 'is', 'easy', 'and', 'python', 'is', 'powerful']
{'powerful', 'and', 'easy', 'is', 'python'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [ ]:
# write your code here
{"h","e","l","o"}