# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
a = 1,2,3,4,5
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [7]:
# write your answer here
a = (1,3.1,"aman",True)
print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
3.1
aman
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [8]:
# write your answer here
a = ("Aman", "Priya", "Sakshi", "Ritu")
print(len(a))

4

### Question 4
Access and print the last element of a tuple.

In [12]:
# write your answer here
a = 1,2,3,4,5
print(a[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [16]:
# write your answer here
a = 1,2,3,4,5
find = 5
if find in a:
  print("True")
else:
  print("False")

True

### Question 6
Convert a tuple into a list.

In [19]:
# write your answer here
a = 1,2,3,4,5
my_list = list(a)
print(type(my_list))

<class 'list'>

### Question 7
Convert a list into a tuple.

In [20]:
# write your answer here
a = 1,2,3,4,5
my_tuple = tuple(a)
print(type(my_tuple))

<class 'tuple'>

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [26]:
# write your answer here
a = 1,2,3,4,5,1,1,1,2,2,3,4
for i in a:

  print(a.count(i))

4
3
2
2
1
4
4
4
3
3
2
2

### Question 9
Find the index of an element in a tuple.

In [23]:
# write your answer here
a = ("Aman", "Priya", "Sakshi", "Ritu")
print(a.index("Sakshi"))

2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [24]:
# write your answer here
a = ("Aman", "Priya", "Sakshi", "Ritu")
a.append("Aman")

AttributeError: 'tuple' object has no attribute 'append'